@model Accessories_Store.Models.Entities.Slide

@{
    ViewData["Title"] = "Create";
}
@section Styles{
    <style>
        #upload {
            opacity: 0;
        }

        #upload-label {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
        }

        .image-area {
            border: 2px dashed rgba(255, 255, 255, 0.7);
            padding: 1rem;
            position: relative;
        }

            .image-area::before {
                content: 'Uploaded image result';
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 0.8rem;
                z-index: 1;
            }

            .image-area img {
                z-index: 2;
                position: relative;
            }
    </style>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a asp-area="admin" asp-controller="home" asp-action="index">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Danh sách Slide : trang @ViewBag.CurrentPage</li>
    </ol>
</nav>

<div>
    <form action="/admin/slides/add" method="post" enctype="multipart/form-data">
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">

            <div class="d-flex flex-column justify-content-center">
                <h4 class="mb-1 mt-3">Thêm mục mới</h4>

            </div>
            <div class="d-flex align-content-center flex-wrap gap-3">
                <a href="/admin/slides" class="btn btn-secondary">Quay lại</a>
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>

        </div>
        <div class="row">
            <div class="col-8 col-lg-8">
                <!-- Product Information -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-tile mb-0">Thông tin danh mục</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" for="ecommerce-product-name">Tên mục</label>
                            <input type="text" class="form-control" asp-for="Name" id="ecommerce-product-name" placeholder="Product title" aria-label="Product title">
                        </div>
                    </div>
                </div>

                <!-- /Product Information -->

            </div>
            <div class="col-4 col-lg-4">
                <!-- Media -->
                <div class="card mb-4">
                    <div class="row py-4">
                        <div class="col-lg-10 mx-auto ">
                            <p>Tải hình ảnh lên<span>*</span></p>
                            <!-- Upload image input-->
                            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                <input asp-for="Thumb" name="fThumb" id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                                <label id="upload-label" for="upload" class="font-weight-light text-muted">Chọn tệp</label>
                                <div class="input-group-append">
                                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Chọn tệp</small></label>
                                </div>

                            </div>
                            <!-- Uploaded image area-->
                            <p class="font-italic text-grey text-center">Hình ảnh sẽ được hiển thị bên dưới.</p>
                            <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                        </div>

                    </div>
                </div>
                <!-- /Media -->
            </div>
        </div>

    </form>
</div>
@section Scripts{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imageResult')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(function () {
            $('#upload').on('change', function () {
                readURL(input);
            });
        });

        /*  ==========================================
            SHOW UPLOADED IMAGE NAME
        * ========================================== */
        var input = document.getElementById('upload');
        var infoArea = document.getElementById('upload-label');

        input.addEventListener('change', showFileName);
        function showFileName(event) {
            var input = event.srcElement;
            var fileName = input.files[0].name;
            infoArea.textContent = 'File name: ' + fileName;
        }
    </script>
}
