@page
@model LoginModel

@{
    Layout = "/Areas/Identity/Pages/Shared/_IdentityLayout.cshtml";
    ViewData["Title"] = "Log in";
}
<div class="container-sm">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand d-flex align-items-center flex-column">
                        <a href="/" class="app-brand-link gap-2  mb-2">
                            <img src="~/assets/images/logo/Logo_Minine SRE.jpg" alt="Accessories Shop" width="180px" />
                        </a>
                        <!-- /Logo -->
                        <h4 class="mb-2">Chào mừng đến với Minine Accessories! 👋</h4>
                        <p class="mb-4">Vui lòng đăng nhập để mua sắm tại cửa hàng</p>
                    </div>
                    

                    <form class="mb-3" id="account" method="post">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" asp-for="Input.Email" placeholder="Nhập email" autofocus />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-password-toggle">

                            <div class="d-flex justify-content-between">
                                <label class="form-label">Mật khẩu</label>
                                <a id="forgot-password" asp-page="./ForgotPassword">
                                    <small>Quên mật khẩu?</small>
                                </a>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control" asp-for="Input.Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3" style="margin-left:1vw">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe" />
                                <label class="form-check-label">Ghi nhớ đăng nhập</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" id="login-submit" type="submit">Đăng nhập</button>
                        </div>
                    </form>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-outline-primary" style="display: flex; align-items: center;" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <span style="padding-right: 1vw">Google</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
                                                    <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
                                                    <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
                                                    <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
                                                    <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                                                </svg>
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                    <p class="text-center">
                        <span>Bạn muốn tham gia vào mua sắm?</span>
                        <a asp-area="Identity" asp-controller="Account" asp-action="Register"><span>Tạo tài khoản mới</span></a>
                    </p>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
